<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar - RegistrAPP</title> 
    <!--cdn bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <!--cdn js-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!--STYLESHEET-->
    <link href="../../static/duocUc/css/index.css" rel="stylesheet" />
</head>
<body>
    <!--barra de navegacion-->
    <nav class="navbar navbar-light bg-light">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="#">
                <img src="../../static/duocUc/images/logoRegistrApp.png" alt="Logo RegistrApp">
                <h3 class="navbar-title">RegistrAPP</h3>
            </a>
        </div>
    </nav>
    <!--seccion de descarga-->
    <div class="download-section">
        <img src="../../static/duocUc/images/Photoroom.png" alt="Logo RegistrApp" class="download-logo">
        <h2 class="download-title">Descargar RegistrAPP APK ultima versión</h2>
        <p>Android · Gratis</p>
        <table class="table table-striped custom-table">
            <tbody>
                <tr>
                    <td class="custom-td">Versión</td>
                    <td>2.0</td>
                </tr>
                <tr>
                    <td class="custom-td">Tamaño</td>
                    <td>24.23 MB</td>
                </tr>
                <tr>
                    <td class="custom-td">Fecha de lanzamiento</td>
                    <td>14/12/2024</td>
                </tr>
                <tr>
                    <td class="custom-td">Nombre de la app</td>
                    <td>RegistrApp</td>
                </tr>
                <tr>
                    <td class="custom-td">Versión minima de android</td>
                    <td>Android 5.1 (Lollipop MR1)</td>
                </tr>
                <tr>
                    <td class="custom-td">Paquete</td>
                    <td>io.ionic.starter</td>
                </tr>
            </tbody>
        </table>        
        <a href="{{ apk_link }}" download class="btn btn-primary download-btn">
            {% if apk_action == "install" %}
                INSTALAR APK
            {% else %}
                DESCARGAR APK
            {% endif %}
        </a>
    </div>
    <!--seccion mockup y codigo QR-->
    <section class="section-mockup">
        <div>
            <img src="../../static/duocUc/images/PhoneMockup.png" alt="Mockup RegistrApp" class="mockup-image">
        </div>
        {% if not apk_action == "install" %}
        <div class="section-QR">
            <p>Escanea este QR para instalar RegistrAPP en tu dispositivo:</p>
            <img src="data:image/png;base64,{{ qr_image_data }}" alt="Código QR">
        </div>
        {% endif %}
    </section>
    <!--Seccion informativa--> 
    <section class="section-informative">
        <div class="des-content">
            <h2 style="text-align: center;">Caracterízticas de la APK</h2> <br>
            <h6>Descubre cómo RegistrAPP revoluciona el registro de asistencia actual:</h6>
            <br><p class="custom-p"> Inicio de sesión seguro y rapido </p>
            <p>Accede fácilmente ingresando tus credenciales o registra tu cuenta proporcionando información como tu nombre, escuela, carrera y sede. La seguridad de tus datos está garantizada.</p>
            <p class="custom-p">Gestión personalizada de tu información</p>
            <p>Encuentra información relevante de un vistazo como tu sede matriculada. Cambia tu contraseña, carrera o sede directamente desde la pagina principal.</p>  
            <p class="custom-p">Explora las sedes de Duoc UC</p>
            <p>Navega por todas las sedes de Duoc UC en la Región Metropolitana para encontrar la que mejor se adapte a ti.</p>
            <p class="custom-p">Registro de asistencia automatizada</p>
            <p>Visualiza las asignaturas de tu carrera y escanea el código QR que genere el docente para registrar tu asistencia de forma automática en cada clase, una barra de progreso mostrará tus clases asistidas y ausentes, ayudándote a llevar un control efectivo.</p>
            <p class="custom-p">Tu credencial, siempre contigo</p>
            <p>Accede a tu perfil con tu información personal y un código de barras vinculado a tu correo electrónico, sin conexión a internet.</p>
            <p class="custom-p">Interfaz Intuitiva</p>
            <p>El diseño moderno y funcional de RegistrAPP esta hecho para ser simple y eficiente, enfocandose en brindarte una buena experiencia como usuario.</p>
            <br>
            <h2 style="text-align: center;">¿Por qué preferir RegistrAPP?</h2><br>
            <p>En el contexto actual donde la presencialidad en las aulas se está retomando, RegistrAPP se posiciona como una solución innovadora para:</p>
            <p>- Reducir los tiempos destinados al registro de asistencia. <br>
                - Minimizar errores humanos, como confusiones visuales o hasta olvidos. <br>
                - Motiva la asistencia presencial a clases. <br>
                - Y lo mejor de todo: esta app está diseñada para fomentar la autonomía de los estudiantes de DuocUC, simplificando procesos y mejorando la experiencia académica.
            </p><br>
            <p class="small">con RegistrAPP, tu asistencia, en tus manos.</p>
        </div>
    </section>
   <!--Contenedor imagenes interfaz movil--> 
   {% if apk_action == "install" %}
       <div class="image-scroll">
            <img src="../../static/duocUc/images/splash1.png" alt="Splash">
            <img src="../../static/duocUc/images/login.png" alt="Iniciar sesión">
            <img src="../../static/duocUc/images/registro.png" alt="Registro">
            <img src="../../static/duocUc/images/principal.png" alt="Principal">
            <img src="../../static/duocUc/images/actualizacionSede.png" alt="Actualización Sede">
            <img src="../../static/duocUc/images/actualizacionDatos.png" alt="Actualización Datos">
            <img src="../../static/duocUc/images/sedes.png" alt="Sedes">
            <img src="../../static/duocUc/images/scanner.png" alt="Scanner Asignaturas">
            <img src="../../static/duocUc/images/perfil.png" alt="Perfil">
            <img src="../../static/duocUc/images/preferencia.png" alt="Preferencia">
            <img src="../../static/duocUc/images/cerrarSesion.png" alt="Cerrar Sesión">
       </div>
   {% endif %}
    <!--Contenedor imagenes interfaz sitio web--> 
    {% if apk_action == "download" %}
    <section class="section-web">
        <img src="../../static/duocUc/images/splash1.png" alt="Splash">
        <img src="../../static/duocUc/images/login.png" alt="Iniciar sesión">
        <img src="../../static/duocUc/images/registro.png" alt="Registro">
        <img src="../../static/duocUc/images/principal.png" alt="Principal">
        <img src="../../static/duocUc/images/actualizacionSede.png" alt="Actualización Sede">
        <img src="../../static/duocUc/images/actualizacionDatos.png" alt="Actualización Datos">
        <img src="../../static/duocUc/images/sedes.png" alt="Sedes">
        <img src="../../static/duocUc/images/scanner.png" alt="Scanner Asignaturas">
        <img src="../../static/duocUc/images/perfil.png" alt="Perfil">
        <img src="../../static/duocUc/images/preferencia.png" alt="Preferencia">
        <img src="../../static/duocUc/images/cerrarSesion.png" alt="Cerrar Sesión">
    </section>
    {% endif %}
    <section class="section-description">
        <div class="description-content">
            <h2>Descarga RegistrApp APK e instalalo en tu android</h2><br>
            <h4>Pasos a seguir:</h4>
            <ul>
                <li>1. Habilita la opción de instalar aplicaciones de fuentes desconocidas en tu dispositivo.</li>
                <li>
                    {% if apk_action == "install" %}
                        2. Instala el APK desde el sitio web, presionando el botón "Instalar APK".
                    {% else %}
                        2. Descarga el APK desde el sitio web, presionando el botón "Descargar APK".
                    {% endif %}
                </li>
                <li>3. Una vez completada la descarga, toca el archivo APK de RegistrAPP para iniciar el proceso de instalación.</li>
                <li>4. Encontrarás el ícono de la aplicación RegistrAPP en la pantalla de inicio de tu dispositivo, ahora si, puedes comenzar a usarla.</li>
            </ul>
            <p>RegistrAPP te ayudará a gestionar tu asistencia y mucho más.</p>
        </div>
    </section>
</body>
</html>